
/* Navigation section styles */

header{
    background-color: #fffbf0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding-top: 50px;
    /* border: 1px solid red; */
}
nav div{
    /* border: 1px solid red; */
}
nav div img{
    width: 300px;
}
nav ul{
    /* border: 1px solid red; */
    display: flex;
    gap: 100px;
}
nav li{
    list-style: none;
    font-size: x-large;
}


/* Banner section styles */



.div_class1{
    /* border: 1px solid red; */
    margin: 30px 200px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
}
.div_class2{
    /* border: 1px solid red; */
}
.div_class2 h1{
    font-size: 5em;
    text-transform: uppercase;
}
.div_class2 h1 span{
    color: #fabe4c;
}
.div_class2 p{
    font-size:x-large;
    margin-top: -1.5em;
}
.div_class2 div{
    /* border: 1px solid red; */
    width: 270px;
}
.div_class2 div button{
    width: 250px;
    height: 80px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1.2em;

    background-color: #85a019e0;
    color: white;
    border: none;
    margin-left: -55px;
    padding-left: 50px;
}
.div_class2 div img{
    height: 50px;
    width: 50px;

    position: relative;
    left: 32px;
    top: 15px;
}
.div_class1 img{
    height: 650px;
}



/* Woman section styles */

#id1{
    font-size: 3em;
    margin-left: 180px;
    margin-top: 100px;
}

.div_class3{
    display: flex;
    gap: 40px;
    /* border: 1px solid red; */
    justify-content: center;
}
.div_class4, .div_class5, .div_class6{
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
    width: 480px;
    border-radius: 20px;
    border: none;
}
.div_class8{
    background-color: rgba(128, 128, 128, 0.247);
    margin: 25px auto;
    border-radius: 20px;
    width: 420px;
    height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.div_class8 img{
    height: 300ox;
    width: 300px;
}
.div_class9 button{
        width: 200px;
        height: 70px;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 1.2em;
       padding-left: 50px;
    
        background-color: #85a019e0;
        color: white;
        border: none;    
}
.div_class4 h1, .div_class5 h1, .div_class6 h1{
    font-size: 2em;
    padding-left: 30px;
}
.div_class4 > p, .div_class5 > p, .div_class6 > p{
    font-size: 20px;
    padding-left: 30px;
    margin-top: -1em;
}
.div_class9{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.div_class9 p{
    font-size: 2em;
    color: #fabe4c;
    font-weight: 800;
}
.div_class9 img{
    height: 50px;
    width: 50px;

    position: relative;
    left: 120px;
    bottom: 2px;
}



/* Last section styles */



.div_class10{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    margin: 150px 180px;
}
.div_class11{
    /* border: 1px solid red; */
}
.div_class11 img{
    width: 800px;
    height: 500px;
}
.div_class12{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 0.2);
    padding: 20px 40px;
    border-radius: 20px;

    width: 550px;
}
.div_class12 img{
    width: 100px;
    height: 100px;
}
.div_class10 h1{
    font-size: 2.3em;
    padding-left: 50px;
}
.div_class10 p{
    font-size: larger;
    padding-left: 50px;
}



@media screen and (max-width:576px) {
    nav{
        margin: 0px;
        flex-direction: column;
        /* border: 1px solid red; */
        width: 300px;
    }
    nav div img{
        width: 250px;
    }
    nav ul{
        flex-direction: column;
        row-gap: 10px;
    }
    nav li{
        padding-left: 0px;
        font-size: large;
    }
    .div_class1{
        margin: 30px 0px;
        flex-direction: column;
        padding-bottom: 70px;
        /* border: 1px solid blue; */
    }
    .div_class2 h1{
        font-size: 2em;
        /* border: 1px solid red; */
        padding-left: 10px;
    }
    .div_class2 div{
        margin-top: -25px;
        margin-bottom: 50px;
    }
    .div_class2 div button{
        width: 150px;
        height: 50px;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 15px;
    
        background-color: #85a019e0;
        color: white;
        border: none;
        margin-left: -35px;
        padding-left: 45px;
        /* border: 1px solid black; */
    }
    .div_class2 div img{
        height: 40px;
        width: 40px;
    
        position: relative;
        left: 10px;
        top: 13px;
    }
    .div_class2 p{
        margin-top: 10px;
        padding-left: 10px;
        /* border: 1px solid red; */
    }
    .div_class1 img{
        height: 320px;
        width: 250px;
        /* border: 1px solid red; */
    }
    
}

